<div class="container">
    <h1>MA issue tracker</h1>
    <h3>Issue Number {{IssueID}}</h3>
    <div class="form-group">

        <input type="text" placeholder = "Comment" ng-model="newcommentname"/>

        <button ng-click="addComment()">Comment</button>
    </div>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>


    <h3>Current Issues <a type="button" class="btn btn-default btn-lg active btn-xs">Reload</a></h3>
    <div masonry>
        <div class="masonry-brick" ng-repeat="comment in comments track by $index">
            <table>
                <tr>
                    <td>{{comment.Content}}</td>
                       <!-- <button type="button" class="btn btn-default btn-lg active btn-xs" ng-click="removeIssue(issue)">X</button>-->
                </tr>
                <tr>
                    <td>
                        Created At: {{comment.created_at}}
                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>